<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
  
<html class="no-js"> 
  <!--<![endif]-->

<head>
  <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" crossorigin>
  <link rel="preload" href="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js" as="script">
  {%- assign unusedcss_enabled = true -%}
  {%- assign shared_page_id ='' -%}
  {%- assign is_shared_page = false -%}
  {%- if unusedcss_enabled -%}
  {% assign shared_urls_capsule = '/pages/shop-capsule-nurture,/pages/shop-capsule-enrich,/pages/shop-capsule-embrace,/pages/shop-capsule-reflect' | split: ',' %}
  {% assign shared_urls_lookbook = '/pages/lookbook-nurture,/pages/lookbook-enrich,/pages/lookbook-embrace,/pages/fw20-reflect-1' | split: ',' %}
  {% if shared_urls_capsule contains page.url %}
  {% assign is_shared_page = true %}
  {%- assign shared_page_id ='capsule' -%}
  {% endif %}
  {% if shared_urls_lookbook contains page.url %}
  {% assign is_shared_page = true %}
  {%- assign shared_page_id ='lookbook' -%}
  {% endif %}
  <!-- xdev:{{ shared_page_id }} -->
  {%- endif -%}
  {%- if unusedcss_enabled == false -%}
  <link rel="preload" href="{{ 'timber.scss.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'theme.scss.css' | asset_url }}" as="style">
  {%- endif -%}
  {% include 'common-css' %}
  {% include 'booster-seo' %}
  <meta name="google-site-verification" content="2aYqtkpru9bEvd7fhOiLkBzbxU884FcHIl9nsX7TtQ8" />

  <!-- Global Site Tag (gtag.js) - Google AdWords: 863143271 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863143271"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-863143271', {'send_page_view': false});
  </script>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Dev - Pre-Sale -->

  <!-- Template: {{ template }} -->

  {% if template == 'list-collections' %}
    <meta http-equiv="refresh" content="0; url=/collections/all">
  {% endif %}

  <link rel="shortcut icon" href="{{ settings.favicon | img_url }}" type="image/x-icon" />

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title -}}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- Pinterest domain verify -->
  <meta name="p:domain_verify" content="c8b1778e8b51af21427a45d95ad1df3c"/>

  <!-- CSS ================================================== -->
  {%- if unusedcss_enabled -%}
  {% include 'unusedcss' %}
  <style id="gathom-font">@import url("{{ 'gathom-font.scss.css' | asset_url }}");</style>
  {%- else -%}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7247756/7231372/css/fonts.css" />
  {%- endif -%}

  <!-- Sections ================================================== -->
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      zoomClose: {{ "products.zoom.close" | t | json }},
      zoomPrev: {{ "products.zoom.prev" | t | json }},
      zoomNext: {{ "products.zoom.next" | t | json }},
      moneyFormat: {{ shop.money_format | json }},
      color:'{%- for variant in product.variants -%}{%- if variant.metafields.accentuate.exclude_disclaimer -%}{{ variant.title }},{%- endif -%}{%- endfor -%}'
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      gridType: {{ settings.collection_products_grid | json }}
    };
  </script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}
  <script src="{{ 'modernizr.min.js' | asset_url }}" async></script>

  {% comment %}
  If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template.directory == 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Hits Analytics tracking code -->
  {% if shop.customer_accounts_enabled %}
  {% if customer %}
  <script type="text/javascript">
    function hitsReady() {
      if (typeof hits != 'undefined')
        hits('user','identify', {'id' : '{{ customer.id }}'});
                                 else
                                 setTimeout(hitsReady,500);
                                }
             window.attachEvent ? window.attachEvent('onload', hitsReady) : window.addEventListener('load', hitsReady, false);
  </script>
  {% endif %}
  {% endif %}
  <!-- end of Hits Analytics code -->

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
  {% include 'fhsprod-labelme-init' %}

  <!-- GSSTART Show variants. Do not change -->
  {% if request.path contains "/products/" %}{% else %}{% endif %}
  <!-- Show variants code end. Do not change GSEND -->
  <!--begin-bc-sf-filter-css-->
  {% include 'bc-sf-filter-style' %}
  <!--end-bc-sf-filter-css-->



  {% render 'shogun-head' %}

  {% render 'giftship' %} 
    
</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" onunload="del_cookie()">

  <div id="NavDrawer" class="drawer drawer--left">
    {% section 'drawer-menu' %}
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  {% unless template == 'list-collections' %}
  <div id="PageContainer" class="page-container">

    {% section 'header' %}
    {% if template.name == "index" and false %}
    {% section 'slideshow' %}
    {% endif %}

    {% unless template == 'collection' or page.handle == "lookbooks" %}
    <div class="wrapper">
      {% include 'breadcrumb' %}
    </div>
    {% endunless %}

    <main class="main-content" role="main">
      {% unless template.name == "index" or template == "collection.image" or template == "collection" or page.handle == "lookbooks" %}
      <div class="wrapper">
        {% endunless %}
        {{ content_for_layout }}
        {% unless template.name == "index" or template == "collection.image" or template == "collection" or page.handle == "lookbooks" %}
      </div>
      {% endunless %}
    </main>

    {% comment %}<hr class="hr--large">{% endcomment %}

    {% section 'footer' %}

  </div>
  {% endunless %}

  {% comment %}
  Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}
  </script>

  {% comment %}
  Ajaxify your cart with this plugin.
  Documentation:
  - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
  {% include 'ajax-cart-template' %}
  {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>
  {% unless template contains "index"%}
  {% endunless %}
  <div id="EmailModal" class="email-popup mfp-hide">
    {% include 'email-modal' %}
  </div>
  {% include 'back-in-stock-helper' %}
  {{ 'https://lookbook.teathemes.net/public/shop-libs/nitro-lookbook.js' | script_tag }}
  <input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/>
  {%include 'sc-pb-25052016'%}




  {% include 'special-offers' %}
  <!-- Start sticky.js for sticky header -->
  <script src="{{ 'jquery.sticky.js' | asset_url }}"></script>
  <script>
    $(document).ready(function(){
      $("#sticker").sticky({topSpacing:0});
    });
  </script>
  <!-- End sticky.js -->

  <!-- google dynamic remarketing tag for theme.liquid -->
  {% if template contains 'product' %}
  <script type="text/javascript">
    var json_product = {{ product | json }};
  </script>
  <script>
    var ecomm_prodid=[];
    for(var i=0;i<json_product.variants.length;i++)
      ecomm_prodid.push('shopify_US_{{product.id}}_'+json_product.variants[i].id);
  </script>
  <script type="text/javascript">
    var google_tag_params = {
      ecomm_prodid: ecomm_prodid,
      ecomm_pagetype: 'product',
      ecomm_totalvalue: parseFloat('{{ product.price | money_without_currency | remove: ","}}')
                                   };
  </script>
  {% elsif template contains 'collection' %}
  <script type="text/javascript">
    var google_tag_params = {
      ecomm_pagetype: 'category'
    };
  </script>
  {% elsif template contains 'cart' %}
  <script type="text/javascript">
    var id = new Array();
    {% for item in cart.items %}
    id.push('shopify_US_{{item.product.id}}_{{item.variant.id}}');
            {% endfor %}

            var google_tag_params = {
            ecomm_prodid: id,
            ecomm_pagetype: 'cart',
            ecomm_totalvalue: parseFloat('{{ cart.total_price | money_without_currency | remove: ","}}')
            };
  </script>
  {% elsif template contains 'search' %}
  <script type="text/javascript">
    var google_tag_params = {
      ecomm_pagetype: 'searchresults'
    };
  </script>
  {% elsif template contains 'index' %}
  <script type="text/javascript">
    var google_tag_params = {
      ecomm_pagetype: 'home'
    };
  </script>
  {% else %}
  <script type="text/javascript">
    var google_tag_params = {
      ecomm_pagetype: 'other'
    };
  </script>
  {% endif %}
  <script>
    gtag('event', 'page_view', {'send_to': 'AW-863143271',
                                'ecomm_prodid':window.google_tag_params.ecomm_prodid,
                                'ecomm_pagetype': window.google_tag_params.ecomm_pagetype,
                                'ecomm_totalvalue':window.google_tag_params.ecomm_totalvalue
                               });
  </script>



  <!--=================================Thank You=================================================-->

  {% include 'carro' %}
  <!-- GSSTART Show variants BODY. Do not change -->{% if collection.products %}
  <div style="display: none !important;">
    {% paginate collection.products by 50 %}{% for product in collection.products %}{% assign imagescount = product.images | size %}{% if imagescount > 1 %}
    <div style="display: none !important;" class="gsProductVariants" gsProductHandler="{{ product.handle }}" >{% assign variantImgsUsedStr = "" %} {% assign variantBySizeUsedStr = "" %}{% assign sizeoptionnr = 0 %}
      {% for option in product.options %}{% capture optioncaseins %}{{option | downcase}}{% endcapture %}{% if optioncaseins contains "size" or optioncaseins contains "größe" or optioncaseins contains "taille" or optioncaseins contains "tamanho" or optioncaseins contains "rrelse" or optioncaseins contains "siza" %}{% assign sizeoptionnr = forloop.index %}{% if product.options.size == 1 %}{% endif %}{% if optioncaseins contains "color" or optioncaseins contains "colour" or optioncaseins contains "farge"  %}{% assign sizeoptionnr = 0 %}{% endif %}{% endif %}{% endfor %}
      {% for variant in product.variants %}{% assign featuredImageSize = variant.featured_image | size %}{% if featuredImageSize > 0  %}{% if variantImgsUsedStr contains "IGNOREGS" %}{% else %}{% assign variantImgsUsedStr = variantImgsUsedStr | append: variant.featured_image %}{% assign canAddVariant = true %}{% if sizeoptionnr == 1 %}{% assign optionCheckVal = ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}{% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% endif %}{% endif %}
      {% if sizeoptionnr == 2 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
      {% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% endif %}{% endif %} {% if sizeoptionnr == 3 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
      {% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% endif %}{% endif %} {% if canAddVariant == true %}
      <p vavailable="{{ variant.available }}" variantpriceid="{{ variant.id }}" originalprice="{{ product.price | money_without_trailing_zeros }}" minprice="{{ product.price_min | money_without_trailing_zeros }}" comparePrice="{{ variant.compare_at_price | money_without_trailing_zeros }}" variantPrice="{{ variant.price | money_without_trailing_zeros }}"></p>
      <p varianttitleid="{{ variant.id }}" sizeoptionnr="{{ sizeoptionnr }}" optionuidtwo="{{ product.id }}{{ variant.option2 | escape }}" optiontwo="{{ variant.option2 | escape }}" originaltitle="{{ product.title | escape }}" variantTitle="{{ variant.title | escape }}" optionuid="{{ product.id }}{{ variant.option1 | escape }}"></p>
      <span variantid="{{ variant.id }}" gsvariantimage="{{ variant.featured_image | img_url: '256x' }}"></span>
      {% endif %}{% endif %}{% endif %}{% endfor %}
    </div>{% endif %}{% endfor %}{% endpaginate %}{% endif %}
    {% if collection.products %}
    <div style="display: none !important;" class="gsProductImages" >
      {% paginate collection.products by 50 %}{% for product in collection.products %} {% assign imagescount = product.images | size %}{% if imagescount > 1 %}{% for image in product.images  limit:1 %}
      <span gsProductHandle="{{ product.handle }}" firstImage="{{ image | img_url: '256x' }}"></span>
      {% endfor %}{% endif %}{% endfor %}{% endpaginate %}
    </div>
  </div>
  {% endif %} <!-- Show variants code end BODY. Do not change GSEND -->
  <!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %}
  <!--end-bc-sf-filter-js-->
  {% comment %} Init BC Action List {% endcomment %}
  <!--start-bc-al-init-->
  {% include 'bc-al-init' %}
  <!--end-bc-al-init-->
  {% comment %} Init Recently Viewed Products {% endcomment %}
  <!-- start-bc-recently-viewed-product-init -->
  {% include 'bc-recently-viewed-product-init' %}
  <!-- end-bc-recently-viewed-product-init -->
  {% comment %} Init Most Popular Widgets {% endcomment %}
  <!--start-bc-most-popular-product-init-->
  {% include 'bc-most-popular-product-init' %}
  <!--end-bc-most-popular-product-init-->
  <script>(function(){var s = document.createElement('script'),e = ! document.body ? document.querySelector('head') : document.body;s.src = 'https://acsbap.com/apps/app/assets/js/acsb.js';s.async = s.defer = true;s.onload = function(){acsbJS.init({statementLink : '',feedbackLink : '',footerHtml : '',hideMobile : false,hideTrigger : false,language : 'en',position : 'left',leadColor : '#000000',triggerColor : '#000000',triggerRadius : '50%',triggerPositionX : 'left',triggerPositionY : 'bottom',triggerIcon : 'people',triggerSize : 'medium',triggerOffsetX : 20,triggerOffsetY : 20,mobile : {triggerSize : 'small',triggerPositionX : 'left',triggerPositionY : 'bottom',triggerOffsetX : 0,triggerOffsetY : 0,triggerRadius : '50%'}});};e.appendChild(s);}());</script>
<!--   <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='address';fnames[6]='MMERGE6';ftypes[6]='phone';fnames[7]='MMERGE7';ftypes[7]='birthday';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='RECIMAGE1';ftypes[11]='imageurl';fnames[12]='RECURL1';ftypes[12]='url';fnames[13]='RECNAME1';ftypes[13]='text';fnames[14]='RECIMAGE2';ftypes[14]='imageurl';fnames[15]='RECURL2';ftypes[15]='url';fnames[16]='RECNAME2';ftypes[16]='text';fnames[17]='RECIMAGE3';ftypes[17]='imageurl';fnames[18]='RECURL3';ftypes[18]='url';fnames[19]='RECNAME3';ftypes[19]='text';fnames[20]='PREVIMAGE';ftypes[20]='imageurl';fnames[21]='PREVURL';ftypes[21]='url';fnames[22]='PREVNAME';ftypes[22]='text';fnames[23]='ABAIMAGE';ftypes[23]='imageurl';fnames[24]='ABAURL';ftypes[24]='url';fnames[25]='ABANAME';ftypes[25]='text';fnames[26]='COMPANY';ftypes[26]='text';fnames[27]='ADDRESS';ftypes[27]='address';fnames[28]='CAMPAIGN';ftypes[28]='text';fnames[29]='MMERGE29';ftypes[29]='text';fnames[30]='ACUITYTYPE';ftypes[30]='text';fnames[31]='ACUITYDATE';ftypes[31]='date';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
  <style>
    .stamped-form-custom-option-scale label:nth-child(2),  .stamped-form-custom-option-scale label:nth-child(4) {display: none !Important;}
    .stamped-form-custom-question[data-type="checkbox"] label:not(.customFormOption-19143) {display: inline !important;}
    .stamped-form-custom-question[data-type="checkbox"] input[type="checkbox"]{ margin-right:0 !Important;
      margin-left:10px !Important;}

    .stamped-form-review-recommend .stamped-form-review-recommend-label {font-size:0;}
    .stamped-form-review-recommend .stamped-form-review-recommend-label:after {font-size:16px !Important;
      content:'Would you recommend this style to a friend?' !important;
      font-style:italic;}
    .stamped-form-review-body .stamped-form-label {font-size:0;}
    .stamped-form-review-body .stamped-form-label:after {font-size:16px !Important;
      content:'Reivew' !important;
      font-style:italic;}
    .stamped-summary-actions-newquestion, .stamped-summary-actions-newreview {border-radius:0 !important;
      font-weight:700 !Important;
      border-color: #000 !important;
      background: #000 !Important;
      color: #fff !important;}
    .stamped-summary-actions-newreview:before {color: #fff !important;}
    .stamped-header .stamped-review-options {background: transparent !important;}

    .stamped-review-option-labels span:nth-child(3) {display: flex !Important;
      color:
        font-weight:700 !Important;}
    .stamped-review-option-labels{ 
      font-weight:700 !Important;}


    .stamped-proxy-thankyou .fa-heart {display: none !IMportant;}

    .product-single__form .single-option-radio label.soldout {
      border: 1px solid gray !important;
      color: gray;
      opacity: 0.8;
    }
    #EmailModal div#mce-error-response {
    color: #fd2b2a !important;
}
  </style>
  <script>
    var $savedAltheckoutButtons;
    
    var handleCartDrawerButtons = function() {
      var myVar = setInterval(myTimer, 500);
      var myVar2 = setInterval(myTimer2, 500);
      
      function myTimer() {
        var isAdditionalButtonLoaded = $('.shopify-cleanslate');
        console.log('isAdditionalButtonLoaded', isAdditionalButtonLoaded.length);
        if(isAdditionalButtonLoaded.length>0){
          if (!$savedAltheckoutButtons) {
            $savedAltheckoutButtons = $('#dynamic-checkout-cart').html();
          }
//           console.log('$savedAltheckoutButtons', $savedAltheckoutButtons);
          $('.dynamic-checkout__content .shopify-cleanslate:nth-child(2) ul').addClass('active');
          myStopFunction();
          if ($('#injected-after-pay-button').length === 0) {
            var buttonId = `<li id="injected-after-pay-button" class="_2PfRg7DFvcstLFRNRf5W1e" data-testid="grid-cell"><a href="/checkout"><div role="button" tabindex="0" class="_1LP9NPTft85QosIXd3_zOV _3G6VJhJYno-AX3-X38f1TA _1M9S34W-UyhhDRRQQiV3RH" data-testid="ShopifyPay-button" style="background: #B2FCE4 !important;border-color: #B2FCE4 !important;"><span class="_11GJAaBiShTVGYuXppoYvE"> ShopPay</span><span class="bp01pMHFBVS3SyhYtJKk"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 431 89.5" style="enable-background:new 0 0 431 89.5;width: 100px;" xml:space="preserve"><style type="text/css">.st0{fill:none;enable-background:new ;}.st1{fill:#373737;}.st2{fill:#2A78AC;}.st3{fill:#124678;}</style><path class="st0" d="z"/><g><g><path class="st1" d="M217,29.7c4,4.1,6.3,9.5,6.3,15.2S221.1,56,217,60.1c-4,4-9.4,6.2-15.2,6.2c-3.8,0-7.2-1.3-10.2-4l-0.5-0.4V86l-10.9,3.4V24.3h10.9v3.2l0.5-0.5c3.2-3.1,6.9-3.6,10.2-3.6C207.5,23.5,212.9,25.7,217,29.7z M212.4,44.9c0-5.9-4.9-10.9-10.6-10.9s-10.6,5-10.6,10.9c0,5.8,4.9,10.9,10.6,10.9S212.4,50.8,212.4,44.9z"/><path class="st1" d="M233.5,60.1c-4-4.1-6.3-9.5-6.3-15.2s2.2-11.1,6.3-15.2c4-4,9.4-6.2,15.2-6.2c3.8,0,7.2,1.3,10.2,4l0.5,0.4v-3.6h10.9v41.2h-10.9v-3.2l-0.5,0.5c-3.2,3.1-6.9,3.6-10.2,3.6C243,66.3,237.6,64.2,233.5,60.1z M238.1,44.9c0,5.9,4.9,10.9,10.6,10.9c5.8,0,10.6-5,10.6-10.9c0-5.8-4.9-10.9-10.6-10.9C242.9,34,238.1,39.1,238.1,44.9z"/><path class="st1" d="M233.5,60.1c-4-4.1-6.3-9.5-6.3-15.2s2.2-11.1,6.3-15.2c4-4,9.4-6.2,15.2-6.2c3.8,0,7.2,1.3,10.2,4l0.5,0.4v-3.6h10.9v41.2h-10.9v-3.2l-0.5,0.5c-3.2,3.1-6.9,3.6-10.2,3.6C243,66.3,237.6,64.2,233.5,60.1z M238.1,44.9c0,5.9,4.9,10.9,10.6,10.9c5.8,0,10.6-5,10.6-10.9c0-5.8-4.9-10.9-10.6-10.9C242.9,34,238.1,39.1,238.1,44.9z"/><path class="st1" d="M281.1,89.5l9.8-23.8l-16.5-41.3h12.1L296.8,50l10.4-25.6h12l-26.3,65.2H281.1z"/><path class="st1" d="M281.1,89.5l9.8-23.8l-16.5-41.3h12.1L296.8,50l10.4-25.6h12l-26.3,65.2H281.1z"/><path class="st1" d="M21.1,65.9c-5.6,0-10.9-2.2-14.9-6.1c-4-4-6.1-9.3-6.1-14.9S2.2,34,6.1,30c4-3.9,9.3-6,14.9-6c5.7,0,10.5,3,13.5,5.5l0.9,0.7v-5.4h6.7V65h-6.7v-5.4l-0.9,0.7C31.6,62.9,26.8,65.9,21.1,65.9z M21.1,30.4c-7.9,0-14.4,6.5-14.4,14.5s6.5,14.5,14.4,14.5s14.4-6.5,14.4-14.5S29,30.4,21.1,30.4z"/><path class="st1" d="M54.2,65V31.2h-6.1v-6.3h6.1V13c0-7.3,5.8-13,13.1-13h8.4l-1.7,6.3h-6.5c-3.5,0-6.7,3.2-6.7,6.8v11.7h12.7v6.3H60.9V65H54.2z"/><path class="st1" d="M98.8,65c-7.3,0-13.1-5.9-13.1-13.1V31.2h-6.1v-6.3h6.1V0h6.7v24.8H105v6.3H92.3v20.5c0,3.7,3.2,7,6.7,7h6.5l1.7,6.3H98.8z"/><path class="st1" d="M127.5,65.7c-5.2,0-10-2.2-13.5-6.1c-3.2-3.5-5.1-7.9-5.4-12.6c-0.1-0.6-0.1-1.2-0.1-1.9c0-1.6,0.2-3.2,0.5-4.7c0.8-3.6,2.5-7,5-9.7c3.5-3.8,8.4-6,13.6-6c5.2,0,10,2.1,13.7,6c2.6,2.9,4.3,6.2,5,9.7c0.5,3.1,0.5,5,0.5,5.9h-31.8V47c0.9,7.1,6.3,12.5,12.5,12.6c3.8-0.2,7.6-1.7,10.2-4.2l5.6,3.3c-1.5,1.6-3.1,2.9-4.9,4C135.2,64.5,131.5,65.5,127.5,65.7z M127.5,30.7c-5.2,0-10,3.7-11.9,9.3l-0.1,0.1l-0.4,0.8h24.8l-0.5-0.9C137.6,34.4,132.8,30.7,127.5,30.7z"/><path class="st1" d="M153.2,65V24.8h6.7v5.1l0.9-1c2.4-2.6,9.3-4.7,14-4.9l-1.6,6.7c-7.3,0.2-13.3,5.9-13.3,12.9V65H153.2z"/></g><path class="st2" d="M376.8,35.7c4-2.3,7.7-4.5,11.7-6.8c-1.3-2.3-1-1.7-2.2-3.9c-1.2-2.3-0.8-3.2,1.8-3.2c7.5-0.1,15-0.1,22.5,0c2.2,0,2.8,1,1.6,2.9c-3.7,6.5-7.5,13-11.2,19.5c-1.2,2.1-2.3,2.1-3.5,0c-1.3-2.1-1-1.6-2.3-3.9c-3.9,2.3-7.8,4.5-11.7,6.8c0.2,0.6,0.5,1,0.8,1.4c2.9,5,4.2,7.4,7.2,12.4c3.5,5.9,10.9,6.2,15.2,0.8c0.5-0.6,0.9-1.2,1.3-1.9c7.1-12.3,14.2-24.5,21.2-36.8c0.7-1.2,1.4-2.6,1.7-4c1.2-5.5-2.9-10.8-8.6-10.8c-15.2-0.1-30.4-0.1-45.5,0c-6.9,0.1-11.1,7-8,13.1c1,2,2.2,3.9,3.3,5.8C374,30.8,374.5,31.7,376.8,35.7z"/><path class="st3" d="M343.1,73.6c0-4.6,0-13.5,0-13.5s-1.9,0-4.4,0c-2.6,0-3.1-0.9-1.8-3.1c3.7-6.5,7.4-12.9,11.2-19.3c1.1-1.9,2.1-2.1,3.3,0c3.7,6.5,7.5,12.9,11.1,19.4c1.2,2.1,0.6,3-1.7,3c-2.4,0-4.5,0-4.5,0l0,13.5c0,0,10,0,15.8,0c6.8-0.1,10.8-6.3,8.2-12.6c-0.3-0.7-0.6-1.4-1-2c-7-12.2-14-24.4-21-36.5c-0.7-1.2-1.6-2.5-2.6-3.4c-4.1-3.8-10.7-2.9-13.6,2c-7.6,13-15.2,26-22.6,39.1c-3.4,6,0.5,13,7.2,13.4C328.9,73.7,338.3,73.6,343.1,73.6z"/></g></svg></span></div></a></li>`
            $('.dynamic-checkout__content .shopify-cleanslate:nth-child(2) ul').append(buttonId);
          }
        }
      }
      
      function myTimer2() {
        var isAdditionalButtonLoaded = $('#dynamic-checkout-cart');
        if(isAdditionalButtonLoaded.length>0){
          myStopFunction2();
          if ($savedAltheckoutButtons && $('#dynamic-checkout-cart > div').length === 0) {
		    $('#dynamic-checkout-cart').append($savedAltheckoutButtons);
          }
        }
      }

      function myStopFunction() {
        clearInterval(myVar);
      }
      
      function myStopFunction2() {
        clearInterval(myVar2);
      }

    };
    
    var addStyleToShopPay = function() {
      var myInterval = setInterval(myChecker, 500);
      function myCeaseFunction() {
        clearInterval(myInterval);
      }
      
      function myChecker() {
        if (document.getElementsByTagName('shopify-payment-terms')[0] && document.getElementsByTagName('shopify-payment-terms')[0].shadowRoot) {
          myCeaseFunction();
          var style = document.createElement( 'style' );
          style.innerHTML = 'shop-pay-logo {display: none;}#shopify-installments-cta {width: 54px;height: 13px;background-image: url("https://cdn.shopify.com/s/files/1/1238/9850/files/shop-pay-payments.svg?v=1626135469");background-size: cover;}';
          document.getElementsByTagName('shopify-payment-terms')[0].shadowRoot.appendChild( style );
        }
      }
      
      var myInterval2 = setInterval(myChecker2, 500);
      function myCeaseFunction2() {
        clearInterval(myInterval2);
      }
      
      function myChecker2() {
        if ($('.afterpay-paragraph').length) {
          myCeaseFunction2();
          $('.payment-options-container').prepend($('.afterpay-paragraph'));
          $('.afterpay-paragraph').append($('shopify-payment-terms'));
        }
      }
    };
    
    addStyleToShopPay();
    
//     $('.site-nav__link.site-nav__link--icon.cart-link.js-drawer-open-right').on('click', handleCartDrawerButtons);
    // Safari 3.0+ "[object HTMLElementConstructor]" 
    var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && window['safari'].pushNotification));
    if(isSafari){
      $('html,body').addClass('safari-brower');
    }
    console.log(isSafari);
  </script>

</body>
{{ '//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.0.0/lazysizes.min.js' | script_tag }}
</html>
{% render 'afterpay' %}