<div data-section-id="{{ section.id }}" data-section-type="drawer-menu-section">
  <div class="drawer__fixed-header">
    <div class="drawer__header">
      <div class="drawer__close drawer__close--left">
        <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="drawer__inner">

    {% if section.settings.drawer_search_enable %}
      {% include 'search-bar', search_btn_style: 'btn--secondary', search_bar_location: 'search-bar--drawer' %}
    {% endif %}

    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      {% for link in linklists[section.settings.drawer_top_link_list].links %}
        {%- comment %}<locksmith:ae5e>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.drawer_top_link_list], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:ae5e>{% endcomment -%}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% unless template.name == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">{{ link.title | remove: '-Subs' }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="mobile-nav__toggle-btn icon-fallback-text" data-aria-controls="Linklist-{{ child_list_handle }}">
                  <span class="icon-fallback-text mobile-nav__toggle-open">
                    {% comment %}<span class="icon icon-plus" aria-hidden="true"></span>{% endcomment %}
                    <span class="icon icon-ctrl" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }}</span>
                  </span>
                  <span class="icon-fallback-text mobile-nav__toggle-close">
                    {% comment %}<span class="icon icon-minus" aria-hidden="true"></span>{% endcomment %}
                    <span class="icon icon-ctrl" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }}</span>
                  </span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist" id="Linklist-{{ child_list_handle }}" aria-labelledby="Label-{{ child_list_handle }}" role="navigation">
              {% for childlink in linklists[child_list_handle].links %}
              {%- comment %}<locksmith:6ea2>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: linklists[child_list_handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:6ea2>{% endcomment -%}
              <li class="mobile-nav__item{% unless template.name == 'index' %}{% if linklists[childlink.handle] != blank %} has-child {%- else -%}{%- endif -%}{% if childlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
              </li>
              {% for childchildlink in linklists[childlink.handle].links %}
              {%- comment %}<locksmith:2309>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childchildlink, subject_parent: linklists[childlink.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:2309>{% endcomment -%}
              <li class="mobile-nav__item{% unless template.name == 'index' %}{% if childchildlink.active %} {% if linklists[childchildlink.handle] != blank %} has-child {%- else -%}{%- endif -%} mobile-nav__item--active{% endif %}{% endunless %}">
                <a href="{{ childchildlink.url }}" class="mobile-nav__link {% if childchildlink.url contains '#' %} disable-link-title {%- else -%}{%- endif -%}">{{ childchildlink.title | escape }}</a>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% unless template.name == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        Spacer element
      {% endcomment %}
      {% comment %}<li class="mobile-nav__spacer"></li>{% endcomment %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item mobile-nav__item">
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          </li>
          <li class="mobile-nav__item mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item mobile-nav__item--sub">
            {% comment %}{{ 'layout.customer.log_in' | t | customer_login_link }}{% endcomment %}
            {{ 'My Account' | customer_login_link }}
          </li>
          {% comment %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endcomment %}
        {% endif %}
      {% endif %}
      {% for link in linklists[section.settings.drawer_bottom_link_list].links %}
        {%- comment %}<locksmith:6e24>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.drawer_bottom_link_list], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:6e24>{% endcomment -%}
        {% comment %}
          <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endcomment %}
      {% endfor %}
    </ul>
    <!-- //mobile-nav -->
  </div>
</div>

<script type="text/javascript">
  $(function(){
    // Make links on full labels (not just icons) and make accordian
    $('.mobile-nav__link').on('click',function(){
      var self = $(this).closest('.mobile-nav__has-sublist');
      self.toggleClass('mobile-nav--expanded');
      $('.mobile-nav__has-sublist').not(self).removeClass('mobile-nav--expanded');
    });

    $('.mobile-nav__toggle-btn').on('click',function(e){
      var self = $(this).closest('.mobile-nav__has-sublist');
      self.toggleClass('mobile-nav--expanded');
      $('.mobile-nav__has-sublist').not(self).removeClass('mobile-nav--expanded');
    });

  });
</script>

{% schema %}
  {
    "name": "Sidebar menu",
    "settings": [
      {
        "type": "link_list",
        "id": "drawer_top_link_list",
        "label": "Primary menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "drawer_bottom_link_list",
        "label": "Additional menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "drawer_search_enable",
        "label": "Enable search"
      }
    ]
  }
{% endschema %}
